body {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* #precios {
	display: grid;
	grid-template-columns: auto 1fr;
	max-width: 300px;
	margin: 1em;
	line-height: 1.4;F
}

#precios input{
     margin: 0.25em;
} */
